  
  .wrapperr{
    display: flex;
    min-height: 350px;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .card {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    color: black;
    position: absolute;
    height: 300px;
    width: 200px;
  }
  
  @-webkit-keyframes shimmer {
    0% {
      background-position: -4rem top;
      /*50px*/
    }
    70% {
      background-position: 12.5rem top;
      /*200px*/
    }
    100% {
      background-position: 12.5rem top;
      /*200px*/
    }
  }
  .l {
    align-self: flex-start;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
  
  .l p {
    margin: 0;
    padding: 0;
    font-size: 36px;
    text-align: center;
  }
  
  .r {
    -webkit-transform: rotateX(180deg);
    align-self: flex-end;
    position: absolute;
    bottom: 20px;
    right: 16px;
    font-size: 18px;
  }
  
  .r p {
    margin: 0;
    padding: 0;
    font-size: 36px;
    text-align: center;
  }
  
  .row2 p {
    padding: 0;
    margin: 0;
    font-size: 140px;
  }